#rpf-chart {
    position: absolute;
    left: 50%;
    top: 4265px;
}

#rpf-title {
    margin: auto;
}

.rectangle-text {
    text-anchor: middle;
    fill: white;
    pointer-events: none;
}

.label {
    font-size: 16;
    transform: translate(20, 13);
}

.y-axis {
    font-size: 14;
}

.category-rectangle {
    stroke: white;
}

.domain {
    stroke-width: 0;
}