a:link {
        text-decoration: none;
        color: cadetblue;
}

a:visited {
        text-decoration: none;
        color: black;
}

a:hover {
        opacity: 60%;
}

h2 {
        width: fit-content;
}

.title {
        display: flex;
        flex-direction: row;
        justify-content: center;
}

#flag {
        width: 20px;
}

.sweden-graph {
        display: none;
}

.quebec-graph {
        position: fixed;
}

.legend-picto {
        display: none;
}

.picto-country {
        display: none;
}

body {
        font-family: sans-serif;
        height: 7300px;
}

.treemapContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
}

.treemap {
        height: fit-content;
        width: fit-content;
}

.treemapLabel {
        font-weight: bold;
        width: fit-content;
        font-size: 40px;
        margin: 0px auto;
}

#labelDiv {
        align-items: center;
        display: flex;
}

.y-axis-label {
        fill: black;
        font-size: 1.4em;
        text-anchor: middle;
        transform: rotate(-90deg);
}

.panel {
        position: absolute;
        top: 7250px;
    position: absolute;
    top: 7250px;
}

.treemapVisualisation {
    display: flex;
    flex-direction: column;
    align-items: center;
}