a:link {
        text-decoration: none;
        color:cadetblue; 
}

a:visited {
        text-decoration: none;
        color:black;
}

a:hover {
       opacity: 60%; 
}

.treemapContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
}

.treemap {
        height: fit-content;
        width: fit-content;
}

.treemapLabel {
        font-weight: bold;
        width: 100%;
        font-size: 40px;
        margin: auto;
}

